@CHARSET "ISO-8859-1";

#map { height: 540px; }


 .leaflet-google-layer{
    z-index: 0 !important;
}
/*.leaflet-map-pane{
    z-index: 100;
} */

.slideout-menu, .slideout-search, .slideout-creategroup, .slideout-share, .slideout-sharingFeed{
	visibility:hidden;
	position: fixed;
	top: 0;
	left: -250px;
	width: 250px;
	height: 100%;
	background: #fff;
	z-index: 100;
}
.slideout-menu h3, .slideout-search h3, .slideout-creategroup h3, .slideout-share h3, .slideout-sharingFeed h3  {
	position: relative;
	padding: 12px 10px;
	font-size: 1.2em;
	font-weight: 400;
	border-bottom: 4px solid #222;
}
.slideout-menu .slideout-menu-toggle, .slideout-search .slideout-search-toggle, .slideout-creategroup .slideout-creategroup-toggle, .slideout-share .slideout-share-toggle, .slideout-sharingFeed .slideout-sharingFeed-toggle {
	position: absolute;
	top: 12px;
	right: 10px;
	display: inline-block;
	padding: 6px 9px 5px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
	background: #222;
	color: #999;
	text-decoration: none;
	vertical-align: top;
}
.slideout-menu .slideout-menu-toggle:hover, .slideout-search .slideout-search-toggle:hover, .slideout-creategroup .slideout-creategroup-toggle:hover, .slideout-share .slideout-share-toggle:hover, .slideout-sharingFeed .slideout-sharingFeed-toggle:hover  {
	color: #fff;
}
.slideout-menu ul , .slideout-search ul, .slideout-creategroup ul, .slideout-share ul, .slideout-sharingFeed ul{
	list-style: none;
	font-weight: 300;
	border-top: 1px solid #151515;
	border-bottom: 1px solid #454545;
}
.slideout-menu ul li, .slideout-search ul li, .slideout-creategroup ul li, .slideout-share ul li, .slideout-sharingFeed ul li{
	border-top: 1px solid #454545;
	border-bottom: 1px solid #151515;
}
.slideout-menu ul li a, .slideout-search ul li a, .slideout-creategroup ul li a, .slideout-share ul li a, .slideout-sharingFeed ul li a  {
	position: relative;
	display: block;
	padding: 10px;
	color: #999;
	text-decoration: none;
}
.slideout-menu ul li a:hover, .slideout-search ul li a:hover, .slideout-creategroup ul li a:hover, .slideout-share ul li a:hover, .slideout-sharingFeed ul li a:hover  {
	background: #000;
	color: #fff;
}
.slideout-menu ul li a i, .slideout-search ul li a i, .slideout-creategroup ul li a i, .slideout-share ul li a i, .slideout-sharingFeed ul li a i  {
	position: absolute;
	top: 15px;
	right: 10px;
	opacity: .5;
}


.searchResults{
	float:left;
	width:1000px;
	overflow-y: auto;
	height: 400px;
	width: 250px;
}